@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --neutral900: #141d2f;
  --neutral800: #1e2a47;
  --neutral700: #2b3442;
  --neutral500: #4b6a9b;
  --neutral300: #697c9a;
  --neutral100: #f6f8ff;
  --neutral200: #90a4d4;
  --neutral0: #ffffff;
  --blue300: #60abff;
  --blue500: #0079ff;
  --red500: #f74646;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: Space Mono;
  display: flex;
  flex-direction: column;
  align-items: center;
}
body {
  background-color: var(--bg-color);
}
body.darkMode {
  --bg-color: var(--neutral900);
}
body.brightMode {
  --bg-color: var(--neutral100);
}
